<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan Básico</h5>
                <p class="card-text">Puede publicar hasta 3 platillos.</p>
                <a  class="btn btn-primary" [routerLink]="['/cliente/pago']">Sleccionar plan</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan Pro</h5>
                <p class="card-text">Puede publicar hasta 5 platillos.</p>
                <a  class="btn btn-primary" [routerLink]="['/cliente/pago']">Seleccionar Plan</a>
            </div>
        </div>
    </div>
</div>